---
import BaseHead from '../../components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection, type CollectionEntry } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Footer2 } from '@/lib/whoknows/Footer';

// Type the entries and the comparator params
const posts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      /* your styles unchanged */
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`}>
                  <img width={720} height={360} src={post.data.heroImage} alt="" />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date"><FormattedDate date={post.data.pubDate} /></p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer2 />
  </body>
</html>
